.tbody_green_section, .tbody_yellow_section, .tbody_red_section {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border-bottom: 5px solid #FFF;
    border-top: 5px solid #FFF;
}

.tbody_green_section {
    background-color: rgb(209, 252, 209);
}

.tbody_yellow_section {
    background-color: rgb(237, 252, 209);
}

.tbody_red_section {
    background-color: rgb(252, 227, 209);
}

tr td {
    font-size: 14px;
    color: black;
    padding: 0 20px;
    cursor: pointer;
}

tr td:last-child {
    cursor: default;
}

.status_circle {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 50px;
}

.green_circle, .yellow_circle, .red_circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.green_circle {
    background-color: green;
}

.yellow_circle {
    background-color: yellow;
}

.red_circle {
    background-color: red;
}

.buy_btn {
    padding: 5px 10px;
    border: 1px solid purple;
    border-radius: 5px;
    color: purple;
    font-size: 14px;
    background-color: transparent;
}

.buy_btn:hover {
    color: white;
    background-color: purple;
    cursor: pointer;
}